body {
  font-family: 'Inter', sans-serif;
}

.mask-gradient-top {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), black 10%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), black 10%);
}
